%h1
  %a{:href => './'} admin
%h2 データ
%ul
  %li
    %a{:href => '/_ah/admin'}> 管理画面
  %li
    %dl
      %dt トップアーティストLastFmUserTopArtists
      %dd
        %h3 確認
        %form{:method => "get", :action => '/api/lastfm/user.getTopArtists'}
          %dl
            %dt ユーザー
            %dd<
              %input{:name => "user"}
          %input{:type => "submit", :value => "確認"}>
        %h3 登録
        %form{:method => "post", :action => '/api/user_topArtist'}
          %dl
            %dt ユーザー名
            %dd<
              %input{:name => "user"}
          %dl
            %dt データ(json) should be obj with artist:[]
            %dd<
              %textarea{:name => "data", :rows => 7, :cols => 80}>
          %input{:type => "submit", :value => "登録"}>
  %li
    %dl
      %dt アーティストLastFmArtist
      %dd
        %h3 確認
        %form{:method => "get", :action => '/api/lastfm/artist.getInfo'}
          %dl
            %dt アーティスト名
            %dd<
              %input{:name => "artist"}
          %input{:type => "submit", :value => "確認"}>
        %h3 登録
        %form{:method => "post", :action => '/api/artist'}
          %dl
            %dt アーティスト名
            %dd<
              %input{:name => "artist"}
          %dl
            %dt 画像データ(json)
            %dd<
              %textarea{:name => "image", :rows => 7, :cols => 80}>
          %input{:type => "submit", :value => "登録"}>
