%h1 admin
%h2 更新情報
%ol
- updates.each do |update|
  %li
    %a{:href => "/admin/updates/#{update.id}"}>= update.title
    （#{update.date.strftime("%Y/%m/%d %a")}）
%form{:method => "post", :action => request.path_info}
  = haml :'partial/update_form', :locals => {:update => Update.new}, :layout => false
