%h1 admin
%h2 更新情報
%ol
%form{:method => "post", :action => request.path_info}
  %input{:name => "_method", :value =>"put", :type => "hidden"}
  = haml :'partial/update_form', :locals => {:update => update}, :layout => false
%form{:method => "post", :action => request.path_info}
  %input{:name => "_method", :value =>"delete", :type => "hidden"}
  %p
    %input{:type => "submit", :value => "削除"}>
