appengine:
  application: #your application name
  version: 1 #your application version
  environment: #development/production. leave this blank to use AppEngine::Rack.environment, which is development in local and production in gae.

common:
  last_fm:
    api_key: XXX #your last.fm api key

development:
  base_uri: http://example.com # development base_uri. used for api location from js.

production:
  base_uri: http://example.com # production base_uri. used for api location from js.
