@import common.sass
@charset "utf-8"
/* ============================================================
  listenin-now.css
    stylesheet for mixi app "listenin' now"
    http://mixi.jp/view_appli.pl?id=7793
  ============================================================

/* global
div#container
  background = !color_gray
  &.canvas
    padding-bottom: 10px
    +clearfix
  &.mixi
    &.home,
    &.profile
      padding-bottom: 1px
a
  color = !color_blue
  text-decoration: none
  &:hover
    text-decoration: underline
div.loading
  padding: 5px
  text-align: center

/* wire frame.
div#userArea
  div.canvas &
    float: left
    width: 670px
    +clearfix
div#peopleArea
  div.canvas &
    float: right
    width: 255px
  div.home &,
  div.profile &
    display: none

/* formAccount
div#mm_0
  width: 200px
form#formAccount
  padding: 5px
  font-size: 13px
  p
    padding-bottom: 3px

/* navigationArea
div#navigationArea
  div.home &,
  div.profile &
    display: none
    position: fixed
    bottom: 0
    right: 0
    z-index: 20
    & p
      padding: 3px
      background = !color_red
      line-height: 1
      color = !color_whity
      cursor: pointer
      &:hover
        color = !color_white
  div.canvas &
    padding-left: 10px
    +clearfix
    p
      float: right
      margin: 0 0 1px 3px
      padding: 3px 7px
      background = !color_its
      line-height: 1
      color = !color_whity
      cursor: pointer
      +cornered_partial("top", "left", 10px)
      &:hover
        color = !color_white

/* infoArea
div#infoArea
  padding: 5px 5px 0
  background = !color_red
  text-align: right
  color = !color_whity
  +cornered_partial("bottom", "left")
  +shadowed
  div.home &,
  div.profile &
    /* for box-shadow
    margin-right: 4px
  a
    font-weight: bold
    color = !color_white
  span.button_edit
    +inline-block
    width: 13px
    height: 13px
    margin-left: 0.5em
    vertical-align: baseline
    background: url(http://listenin-now.konk303.com/images/app/icons.png) no-repeat
    background-position: -60px 0
    cursor: pointer
    &:hover
      background-position: -60px -20px

/* tracksArea
div#tracksArea
  padding-left: 5px
  div.canvas &
    float: left
    min-height: 500px
    width: 400px

/* rankingsArea
div#rankingsArea
  float: right
  width: 250px
  div.profile &,
  div.home &
    display: none

/* accountArea
div#accountArea
  float: right
  width: 250px
  padding: 5px 0 10px
  text-align: right
  p.account a
    padding-right: 15px
    background: url(http://listenin-now.konk303.com/images/app/ext-link.png) right center no-repeat
    span.link_button
      width: 13px
      height: 13px
      +inline-block
      vertical-align: baseline
      background-position: 80px 0
  &:hover span.link_button
    background-position: 80px 20px
  div.profile &,
  div.home &
    display: none

/* whatsnewArea
div#whatsnewArea
  position: absolute
  top: 0
  right: 0
  width: 255px
  height: 35px
  overflow: hidden
  background: blue
  div.profile &,
  div.home &
    display: none

/* friendsArea
div#friendsArea
  margin-top: 300px
  background: yellow
  div.profile &,
  div.home &
    display: none

/* templates, don't show them.
div#templates
  display: none

/* dl.track, dl.ranking
dl
  &.track,
  &.ranking
    position: relative
    margin: 5px 0
    padding: 5px 10px
    background = !color_white
    +cornered
    +clearfix
    div.home &,
    div.profile &
      overflow: hidden
      margin: 3px 4px 3px 0
      padding: 3px 10px 2px
    &:hover
      background = !color_whity
    > dt.image
      float: left
      +image_clip
    > dd
      margin-left: 40px
      > p
        white-space: nowrap
        overflow: hidden
        &.name,
        &.artist
          /* nothing yet.
        &.name a
          color = !color_red
        &.album,
        &.date
          display: none
          position: absolute
          padding: 0 5px
          color = !color_lighter
          font-size: 85%
        &.album
          right: 0
          top: 5px
        &.date
          right: 0
          bottom: 5px
        div.canvas &.album,
        div.canvas &.date
          display: block

/* iTS, community
div#tracksArea dl.track
  dd div
    &.button_iTS,
    &.button_community
      display: none
      position: absolute
      top: 0
      width: 20px
      height: 20px
      background: url(http://listenin-now.konk303.com/images/app/icons.png) no-repeat
      cursor: pointer
  &:hover dd div
    &.button_iTS,
    &.button_community
      display: block
  dd div
    &.button_iTS
      left: 2px
      background-position: -20px 0
    &.button_community
      left: 24px
      background-position: 0 0
    &.button_iTS:hover
      background-position: -20px -20px
    &.button_community:hover
      background-position: -0 -20px
    &.result_iTS
      position: absolute
      top: 0px
      left: 12px
      z-index: 10
      width: 130px
      padding: 2px 10px 10px
      background = !color_its
      +cornered_no_shadow(10px)
      +cornered_partial("top", "left", 0)
      +shadowed(!color_black, 4px)
      h2
        text-align: center
        margin: 0 10px 5px
        border: 1px solid #{!color_its_bg}
        color = !color_white
        +cornered_no_shadow(5px)
      div.close_button
        position: absolute
        top: 0
        right: 0
        width: 18px
        height: 18px
        background: url(http://listenin-now.konk303.com/images/app/icons.png) no-repeat
        background-position: -40px 0
        cursor: pointer
        &:hover
          background-position: -40px -20px
      dl.tracks_iTS
        max-height: 200px
        overflow: auto
        font-size: 85%
        a
          color = !color_black
        dt
          background = !color_its_bg
          padding: 5px 5px 0
          text-align: center
          +cornered_partial("top", "left", 5px)
          +cornered_partial("top", "right", 5px)
          img
            max-width: 100px
        dd
          margin-bottom: 5px
          padding: 0 5px 5px
          background = !color_its_bg
          +cornered_partial("bottom", "left", 5px)
          +cornered_partial("bottom", "right", 5px)
          p.album
            border-top: 1px dotted #{!color_its}
            a span.price
              margin-left: 0.5em
              +inline-block
              color = !color_red
