/ MIXI AD PROGRAM
%script{:type => 'text/javascript'}
  (function(){
  var url = "http://mixi.jp/ad_application_program_invoker.pl?appli_id=7793&ad_id=f4e2f7d7959bc36341a75ee2a251ecd0a2b4781f";
  document.writeln(['<scri','pt src="',url,'&ts=',(new Date).getTime(),'">','</scri','pt>'].join(''));
  })();
/ END
