#templates{ :style => "display:none;" }
  / tracks
  %dl.track
    %dt.image<
      %img{ :src => "http://listenin-now.konk303.com/images/app/noimage.png", :alt => "" }
    %dd
      %p.name<
        %a.external
      %p.artist<
        %a.external
      %p.album<
        %a.external
      %p.date
      .button_iTS{ :title => "曲をiTunes Storeで探す" }
      .button_community{ :title => "アーティスト名でコミュニティ検索" }

  / ranking
  %dl.ranking
    %dt.image<
      %img{ :src => "http://listenin-now.konk303.com/images/app/noimage.png", :alt => "" }
    %dd
      %p.name<
        %a.external
      %p.playcount
      .button_iTS{ :title => "曲をiTunes Storeで探す" }
      .button_community{ :title => "アーティスト名でコミュニティ検索" }

  / result_iTS
  .result_iTS
    %h2 iTunes Store 検索
    %dl.tracks_iTS
      %dt.perItem<
        %a.artist{:target => "_blank"}
        %br>
        %a.image{:target => "_blank"}<
          %img{ :src => "http://listenin-now.konk303.com/images/app/noimage.png", :alt => "" }
      %dd.perItem
        %p.name<
          %a{:target => "_blank"}<
            %span.price
        %p.artist<
          %a{:target => "_blank"}<
            %span.price
    .close_button{ :title => "閉じる" }

  / loading
  .loading<
    %img{ :title => "now loading", :src => "http://listenin-now.konk303.com/images/app/ajax-loader.gif", :alt => "now loading" }

  / what's new
  %dl.whatsnew
    %dt 2009/10/01
    %dd
      %a{:target => "_blank"}> title
