:javascript
  var GOOG_FIXURL_LANG = 'ja';
  var GOOG_FIXURL_SITE = 'http://listenin-now.konk303.com'
%script{:type => 'text/javascript',
        :src =>'http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js'}
