%h1 リスニンなう とは
%p<
  %a{:href => 'http://www.lastfm.jp/'}> last.fm
  の「最近聴いたトラック」を
  %a{:href => 'http://mixi.jp/'}> mixi
  のプロフィールページに表示するmixiアプリです。
%p 曲をiTSで探したり、関連コミュを検索したりも。
%p 好きな音楽をmixiでアピールできます！
%p.startOrHelp<
  %span>
    %a{:href => 'http://mixi.jp/view_appli.pl?id=7793'}> 今すぐはじめる！
  または
  %span>
    %a{:href => '/help#readme'}> はじめ方を見る！
