%h1 技術情報
%h2 mixiアプリについて
%ul
  %li opensocial
  %li jQuery
  %li last.fm api

%h2 当サイトについて
%ul
  %li html5
  %li sinatra ruby
  %li template engin, haml/sass/builder
%h2 ホスティング
%ul
  %li google app engine
  %li jruby, google-appengine
%h2 フィードバックフォーラム
%h2 ソースコード
%p github
%h1 作者について
%p konk303と申します。前職を2009年7月に退職した後、暇つぶしと勉強をかねて作っています。
%a{:href => 'http://mixi.jp/show_profile.pl?id=1224854'}> mixi
%a{:href => 'http://mixi.jp/show_profile.pl?id=1224854'}> last.fm
%a{:href => 'http://mixi.jp/show_profile.pl?id=1224854'}> twitter
