@charset "utf-8";
/* ============================================================
 * listenin-now.css
 *   stylesheet for mixi app "listenin' now"
 *   http://mixi.jp/view_appli.pl?id=7793
 * ============================================================ */
/* global */
div#container {
  padding-bottom: 10px;
  background: #eeeeee;
}
div#container.mixi.home,
div#container.mixi.profile {
  padding-bottom: 1px;
}
div#container > div {
  max-width: 600px;
  margin-right: auto;
}

a {
  color: #0187c5;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

div.loading {
  padding: 5px;
  text-align: center;
}

/* templates, don't show them. */
div#templates {
  display: none;
}

/* formAccount */
form#formAccount {
  padding: 5px;
  font-size: 13px;
}
form#formAccount p {
  padding-bottom: 3px;
}

/* infoArea */
div#infoArea {
  padding: 5px 5px 0;
  background: #d10039;
  text-align: right;
  color: #e4e6d9;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  box-shadow: 2px 2px 2px #777777;
  -webkit-box-shadow: 2px 2px 2px #777777;
  -moz-box-shadow: 2px 2px 2px #777777;
}
div.home div#infoArea,
div.profile div#infoArea {
  /* for box-shadow */
  margin-right: 4px;
}
div#infoArea a {
  font-weight: bold;
  color: white;
}
div#infoArea span.button_edit {
  display: -moz-inline-box;
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-left: 0.5em;
  vertical-align: baseline;
  background: url(http://listenin-now.konk303.com/images/app/icons.png) no-repeat;
  background-position: -60px 0;
  cursor: pointer;
}
div#infoArea span.button_edit:hover {
  background-position: -60px -20px;
}

/* tracksArea */
div#tracksArea {
  padding-left: 10px;
}
div.home div#tracksArea,
div.profile div#tracksArea {
  padding-left: 5px;
}
div#tracksArea dl.track {
  position: relative;
  margin: 5px 0;
  padding: 5px 10px;
  background: white;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 2px 2px 2px #777777;
  -webkit-box-shadow: 2px 2px 2px #777777;
  -moz-box-shadow: 2px 2px 2px #777777;
}
div#tracksArea dl.track:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
div#ie67 div#tracksArea dl.track {
  height: 1%;
}
div.home div#tracksArea dl.track,
div.profile div#tracksArea dl.track {
  overflow: hidden;
  margin: 3px 4px 3px 0;
  padding: 3px 10px 2px;
}
div#tracksArea dl.track:hover {
  background: #e4e6d9;
}
div#tracksArea dl.track > dt.image {
  float: left;
  margin-right: 4px;
  width: 36px;
  height: 38px;
  overflow: hidden;
}
div#tracksArea dl.track > dt.image img {
  width: 34px;
  vertical-align: top;
  box-shadow: 2px 2px 2px black;
  -webkit-box-shadow: 2px 2px 2px black;
  -moz-box-shadow: 2px 2px 2px black;
}
div#tracksArea dl.track > dt.image img.noimage {
  height: 34px;
}
div#tracksArea dl.track > dd {
  margin-left: 40px;
}
div#tracksArea dl.track > dd > p {
  white-space: nowrap;
  overflow: hidden;
}
div#tracksArea dl.track > dd > p.name,
div#tracksArea dl.track > dd > p.artist {
  /* nothing yet. */
}
div#tracksArea dl.track > dd > p.name a {
  color: #d10039;
}
div#tracksArea dl.track > dd > p.album,
div#tracksArea dl.track > dd > p.date {
  display: none;
  position: absolute;
  padding: 0 5px;
  color: #777777;
  font-size: 85%;
}
div#tracksArea dl.track > dd > p.album {
  right: 0;
  top: 5px;
}
div#tracksArea dl.track > dd > p.date {
  right: 0;
  bottom: 5px;
}
div.canvas div#tracksArea dl.track > dd > p.album,
div.canvas div#tracksArea dl.track > dd > p.date {
  display: block;
}

/* iTS, community */
div#tracksArea dl.track dd div.button_iTS,
div#tracksArea dl.track dd div.button_community {
  display: none;
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: url(http://listenin-now.konk303.com/images/app/icons.png) no-repeat;
  cursor: pointer;
}
div#tracksArea dl.track:hover dd div.button_iTS,
div#tracksArea dl.track:hover dd div.button_community {
  display: block;
}
div#tracksArea dl.track dd div.button_iTS {
  left: 2px;
  background-position: -20px 0;
}
div#tracksArea dl.track dd div.button_community {
  left: 24px;
  background-position: 0 0;
}
div#tracksArea dl.track dd div.button_iTS:hover {
  background-position: -20px -20px;
}
div#tracksArea dl.track dd div.button_community:hover {
  background-position: -0 -20px;
}
div#tracksArea dl.track dd div.result_iTS {
  position: absolute;
  top: 0px;
  left: 12px;
  z-index: 10;
  width: 130px;
  padding: 2px 10px 10px;
  background: #6884ab;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  box-shadow: 4px 4px 4px black;
  -webkit-box-shadow: 4px 4px 4px black;
  -moz-box-shadow: 4px 4px 4px black;
}
div#tracksArea dl.track dd div.result_iTS h2 {
  text-align: center;
  margin: 0 10px 5px;
  border: 1px solid #aec0d8;
  color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
div#tracksArea dl.track dd div.result_iTS div.close_button {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  background: url(http://listenin-now.konk303.com/images/app/icons.png) no-repeat;
  background-position: -40px 0;
  cursor: pointer;
}
div#tracksArea dl.track dd div.result_iTS div.close_button:hover {
  background-position: -40px -20px;
}
div#tracksArea dl.track dd div.result_iTS dl.tracks_iTS {
  max-height: 200px;
  overflow: auto;
  font-size: 85%;
}
div#tracksArea dl.track dd div.result_iTS dl.tracks_iTS a {
  color: black;
}
div#tracksArea dl.track dd div.result_iTS dl.tracks_iTS dt {
  background: #aec0d8;
  padding: 5px 5px 0;
  text-align: center;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
}
div#tracksArea dl.track dd div.result_iTS dl.tracks_iTS dt img {
  max-width: 100px;
}
div#tracksArea dl.track dd div.result_iTS dl.tracks_iTS dd {
  margin-bottom: 5px;
  padding: 0 5px 5px;
  background: #aec0d8;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
div#tracksArea dl.track dd div.result_iTS dl.tracks_iTS dd p.album {
  border-top: 1px dotted #6884ab;
}
div#tracksArea dl.track dd div.result_iTS dl.tracks_iTS dd p.album a span.price {
  margin-left: 0.5em;
  display: -moz-inline-box;
  display: inline-block;
  color: #d10039;
}

/* accountArea */
div#accountArea {
  padding: 5px 0 10px 10px;
  text-align: right;
}
div.profile div#accountArea,
div.home div#accountArea {
  display: none;
}
div#accountArea p.account a {
  padding-right: 15px;
  background: url(http://listenin-now.konk303.com/images/app/ext-link.png) right center no-repeat;
}
div#accountArea p.account a span.link_button {
  width: 13px;
  height: 13px;
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: baseline;
  background-position: 80px 0;
}
div#accountArea:hover span.link_button {
  background-position: 80px 20px;
}

/* navigationArea, home/profile */
div.home div#navigationArea,
div.profile div#navigationArea {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 20;
}
div.home div#navigationArea p,
div.profile div#navigationArea p {
  padding: 3px;
  background: #d10039;
  line-height: 1;
  color: #e4e6d9;
  cursor: pointer;
}
div.home div#navigationArea p:hover,
div.profile div#navigationArea p:hover {
  color: white;
}

/* navigationArea, canvas */
div.canvas div#navigationArea {
  padding-left: 10px;
}
div.canvas div#navigationArea:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
div#ie67 div.canvas div#navigationArea {
  height: 1%;
}
div.canvas div#navigationArea p {
  float: right;
  margin: 0 0 1px 3px;
  padding: 3px 7px;
  background: #6884ab;
  line-height: 1;
  color: #e4e6d9;
  cursor: pointer;
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
}
div.canvas div#navigationArea p:hover {
  color: white;
}

/* rankingsArea */
div.profile div#rankingsArea,
div.home div#rankingsArea {
  display: none;
}

/* whatsnewArea */
div.profile div#whatsnewArea,
div.home div#whatsnewArea {
  display: none;
}

/* friendsArea */
div.profile div#friendsArea,
div.home div#friendsArea {
  display: none;
}
