@charset "utf-8";
/* ============================================================
 * listenin-now.css
 *   stylesheet for mixi app "listenin' now"
 *   http://mixi.jp/view_appli.pl?id=7793
 * ============================================================ */
/* global */
div#container.canvas:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
div#ie67 div#container.canvas {
  height: 1%;
}

h1,
h2 {
  /* hidden by default */
  display: none;
  margin: 5px 0 0;
  font-weight: bold;
}

h1 {
  font-size: 138.5%;
}

h2 {
  font-size: 138.5%;
}

a {
  color: #0187c5;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

div.loading {
  clear: both;
  padding: 5px;
  text-align: center;
}

/* wire frame. */
div#userArea {
  background: #eeeeee;
}
div.canvas div#userArea {
  float: left;
  width: 660px;
  padding-bottom: 10px;
  padding-right: 10px;
}
div.canvas div#userArea:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
div#ie67 div.canvas div#userArea {
  height: 1%;
}
div.home div#userArea,
div.profile div#userArea {
  padding-bottom: 1px;
}

div#peopleArea {
  background: white;
}
div.canvas div#peopleArea {
  float: right;
  width: 250px;
}
div.home div#peopleArea,
div.profile div#peopleArea {
  display: none;
}

/* formAccount */
div#mm_0 {
  width: 200px;
}

form#formAccount {
  padding: 5px;
  font-size: 13px;
}
form#formAccount p {
  padding-bottom: 3px;
}

/* navigationArea */
div.home div#navigationArea,
div.profile div#navigationArea {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 20;
}
div.home div#navigationArea p,
div.profile div#navigationArea p {
  padding: 3px;
  background: #d10039;
  line-height: 1;
  color: #e4e6d9;
  cursor: pointer;
}
div.home div#navigationArea p:hover,
div.profile div#navigationArea p:hover {
  color: white;
}
div.canvas div#navigationArea {
  padding-left: 10px;
}
div.canvas div#navigationArea:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
div#ie67 div.canvas div#navigationArea {
  height: 1%;
}
div.canvas div#navigationArea p {
  float: right;
  margin: 0 0 1px 3px;
  padding: 3px 7px;
  background: #6884ab;
  line-height: 1;
  color: #e4e6d9;
  cursor: pointer;
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
}
div.canvas div#navigationArea p:hover {
  color: white;
}
div.canvas div#navigationArea p a {
  color: #e4e6d9;
}
div.canvas div#navigationArea p a:hover {
  color: white;
  text-decoration: none;
}

/* infoArea */
div#infoArea {
  padding: 5px 5px 0;
  background: #d10039;
  text-align: right;
  color: #e4e6d9;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  box-shadow: 2px 2px 2px #777777;
  -webkit-box-shadow: 2px 2px 2px #777777;
  -moz-box-shadow: 2px 2px 2px #777777;
}
div.home div#infoArea,
div.profile div#infoArea {
  /* for box-shadow */
  margin-right: 4px;
}
div#infoArea a {
  font-weight: bold;
  color: white;
}
div#infoArea span.button_edit {
  display: -moz-inline-box;
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-left: 0.5em;
  vertical-align: baseline;
  background: url(http://listenin-now.konk303.com/images/app/icons.png) no-repeat;
  background-position: -60px 0;
  cursor: pointer;
}
div#infoArea span.button_edit:hover {
  background-position: -60px -20px;
}

/* tracksArea */
div#tracksArea {
  padding-left: 5px;
}
div.canvas div#tracksArea {
  float: left;
  width: 460px;
}

/* rankingsArea */
div#rankingsArea {
  float: right;
  width: 180px;
}
div.profile div#rankingsArea,
div.home div#rankingsArea {
  display: none;
}

/* accountArea */
div#accountArea {
  float: right;
  width: 180px;
  padding: 5px 0 10px;
  text-align: right;
}
div#accountArea p.account a {
  padding-right: 15px;
  background: url(http://listenin-now.konk303.com/images/app/ext-link.png) right center no-repeat;
}
div.profile div#accountArea,
div.home div#accountArea {
  display: none;
}

/* whatsnewArea */
div#whatsnewArea {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 35px;
  overflow: hidden;
}
div#whatsnewArea h2 {
  float: left;
  line-height: 35px;
  margin-top: 0;
  margin-right: 1em;
  font-size: 100%;
}
div#whatsnewArea dl.whatsnew {
  display: inline;
  font-size: 85%;
}
div#whatsnewArea dl.whatsnew dt {
  display: inline;
}
div#whatsnewArea dl.whatsnew dt:after {
  content: ": ";
}
div#whatsnewArea dl.whatsnew dd {
  display: inline;
}
div.profile div#whatsnewArea,
div.home div#whatsnewArea {
  display: none;
}

/* friendsArea */
div#friendsArea {
  margin-top: 300px;
}
div.profile div#friendsArea,
div.home div#friendsArea {
  display: none;
}

/* templates, don't show them. */
div#templates {
  display: none;
}

/* dl.track, dl.ranking */
dl.track,
dl.ranking {
  position: relative;
  margin: 5px 0;
  padding: 5px 10px;
  background: white;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 2px 2px 2px #777777;
  -webkit-box-shadow: 2px 2px 2px #777777;
  -moz-box-shadow: 2px 2px 2px #777777;
}
dl.track:after,
dl.ranking:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
div#ie67 dl.track,
div#ie67 dl.ranking {
  height: 1%;
}
div.home dl.track,
div.profile dl.track,
div.home dl.ranking,
div.profile dl.ranking {
  overflow: hidden;
  margin: 3px 4px 3px 0;
  padding: 2px 10px 5px;
}
dl.track:hover,
dl.ranking:hover {
  background: #e4e6d9;
}
dl.track > dd > p,
dl.ranking > dd > p {
  white-space: nowrap;
  overflow: hidden;
}
dl.track > dd > p.name,
dl.track > dd > p.artist,
dl.ranking > dd > p.name,
dl.ranking > dd > p.artist {
  /* nothing yet. */
}
dl.track > dd > p.name a,
dl.ranking > dd > p.name a {
  color: #d10039;
}
dl.track > dd > p.album,
dl.track > dd > p.date,
dl.ranking > dd > p.album,
dl.ranking > dd > p.date {
  display: none;
}
div.canvas dl.track > dd > p.album,
div.canvas dl.track > dd > p.date,
div.canvas dl.ranking > dd > p.album,
div.canvas dl.ranking > dd > p.date {
  display: block;
  position: absolute;
  max-width: 60%;
  padding: 0 5px;
  color: #777777;
  font-size: 85%;
}
dl.track > dd > p.album,
dl.ranking > dd > p.album {
  right: 0;
  top: 5px;
}
dl.track > dd > p.date,
dl.ranking > dd > p.date {
  right: 0;
  bottom: 5px;
}
dl.track > dd > p.playcount,
dl.ranking > dd > p.playcount {
  float: right;
  color: #777777;
  font-size: 85%;
}
dl.track > dt.image {
  float: left;
  max-width: 38px;
  max-height: 38px;
  overflow: hidden;
  line-height: 0;
  box-shadow: 2px 2px 2px #777777;
  -webkit-box-shadow: 2px 2px 2px #777777;
  -moz-box-shadow: 2px 2px 2px #777777;
}
dl.track > dt.image img {
  width: 34px;
  padding: 1px;
  border: 1px solid #777777;
}
dl.track > dt.image img.noimage {
  height: 34px;
}
dl.track > dd {
  margin-left: 45px;
}
dl.ranking > dt.image {
  margin-bottom: 5px;
  max-width: 130px;
  max-height: 130px;
  overflow: hidden;
  line-height: 0;
  box-shadow: 2px 2px 2px #777777;
  -webkit-box-shadow: 2px 2px 2px #777777;
  -moz-box-shadow: 2px 2px 2px #777777;
}
dl.ranking > dt.image img {
  width: 126px;
  padding: 1px;
  border: 1px solid #777777;
}
dl.ranking > dt.image img.noimage {
  height: 126px;
}
dl.ranking > dd:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
div#ie67 dl.ranking > dd {
  height: 1%;
}
dl.ranking > dd p.name {
  float: left;
}

/* iTS, community */
dl.track dd div.button_iTS,
dl.track dd div.button_community,
dl.ranking dd div.button_iTS,
dl.ranking dd div.button_community {
  display: none;
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: url(http://listenin-now.konk303.com/images/app/icons.png) no-repeat;
  cursor: pointer;
}
dl.track:hover dd div.button_iTS,
dl.track:hover dd div.button_community,
dl.ranking:hover dd div.button_iTS,
dl.ranking:hover dd div.button_community {
  display: block;
}
dl.track dd div.button_iTS,
dl.ranking dd div.button_iTS {
  left: 2px;
  background-position: -20px 0;
}
dl.track dd div.button_community,
dl.ranking dd div.button_community {
  left: 24px;
  background-position: 0 0;
}
dl.track dd div.button_iTS:hover,
dl.ranking dd div.button_iTS:hover {
  background-position: -20px -20px;
}
dl.track dd div.button_community:hover,
dl.ranking dd div.button_community:hover {
  background-position: -0 -20px;
}
dl.track dd div.result_iTS,
dl.ranking dd div.result_iTS {
  position: absolute;
  top: 0px;
  left: 12px;
  z-index: 10;
  width: 130px;
  padding: 2px 10px 10px;
  background: #6884ab;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-top-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  box-shadow: 4px 4px 4px black;
  -webkit-box-shadow: 4px 4px 4px black;
  -moz-box-shadow: 4px 4px 4px black;
}
dl.track dd div.result_iTS h2,
dl.ranking dd div.result_iTS h2 {
  text-align: center;
  margin: 0 10px 5px;
  border: 1px solid #aec0d8;
  color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
dl.track dd div.result_iTS div.close_button,
dl.ranking dd div.result_iTS div.close_button {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  background: url(http://listenin-now.konk303.com/images/app/icons.png) no-repeat;
  background-position: -40px 0;
  cursor: pointer;
}
dl.track dd div.result_iTS div.close_button:hover,
dl.ranking dd div.result_iTS div.close_button:hover {
  background-position: -40px -20px;
}
dl.track dd div.result_iTS dl.tracks_iTS,
dl.ranking dd div.result_iTS dl.tracks_iTS {
  max-height: 200px;
  overflow: auto;
  font-size: 85%;
}
dl.track dd div.result_iTS dl.tracks_iTS a,
dl.ranking dd div.result_iTS dl.tracks_iTS a {
  color: black;
}
dl.track dd div.result_iTS dl.tracks_iTS dt,
dl.ranking dd div.result_iTS dl.tracks_iTS dt {
  background: #aec0d8;
  padding: 5px 5px 0;
  text-align: center;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
}
dl.track dd div.result_iTS dl.tracks_iTS dt img,
dl.ranking dd div.result_iTS dl.tracks_iTS dt img {
  max-width: 100px;
}
dl.track dd div.result_iTS dl.tracks_iTS dd,
dl.ranking dd div.result_iTS dl.tracks_iTS dd {
  margin-bottom: 5px;
  padding: 0 5px 5px;
  background: #aec0d8;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
dl.track dd div.result_iTS dl.tracks_iTS dd p.album,
dl.ranking dd div.result_iTS dl.tracks_iTS dd p.album {
  border-top: 1px dotted #6884ab;
}
dl.track dd div.result_iTS dl.tracks_iTS dd p.album a span.price,
dl.ranking dd div.result_iTS dl.tracks_iTS dd p.album a span.price {
  margin-left: 0.5em;
  display: -moz-inline-box;
  display: inline-block;
  color: #d10039;
}

/* ol.pager */
ol.pager {
  margin: 10px 0;
  text-align: center;
}
ol.pager li {
  display: -moz-inline-box;
  display: inline-block;
}
ol.pager li.prev,
ol.pager li.next {
  min-width: 1.5em;
}
ol.pager li a {
  display: block;
  padding: 0 3px;
}
ol.pager li a:hover {
  background: #e4e6d9;
}
ol.pager li span.thisPage {
  padding: 0 3px;
}

/* dl.friends, dl.people */
dl.friends,
dl.people {
  margin: 5px;
  padding: 5px 10px;
  background: #e4e6d9;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 2px 2px 2px #777777;
  -webkit-box-shadow: 2px 2px 2px #777777;
  -moz-box-shadow: 2px 2px 2px #777777;
}
dl.friends:after,
dl.people:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
div#ie67 dl.friends,
div#ie67 dl.people {
  height: 1%;
}
dl.friends:hover,
dl.people:hover {
  background: #eeeeee;
}
dl.friends dt,
dl.people dt {
  margin-bottom: 5px;
}
dl.friends dt:after,
dl.people dt:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
div#ie67 dl.friends dt,
div#ie67 dl.people dt {
  height: 1%;
}
dl.friends dt span.image,
dl.people dt span.image {
  display: block;
  float: left;
  max-width: 80px;
  max-height: 80px;
  overflow: hidden;
  line-height: 0;
  box-shadow: 2px 2px 2px #777777;
  -webkit-box-shadow: 2px 2px 2px #777777;
  -moz-box-shadow: 2px 2px 2px #777777;
}
dl.friends dt span.image img,
dl.people dt span.image img {
  width: 76px;
  padding: 1px;
  border: 1px solid #777777;
}
dl.friends dt span.image img.noimage,
dl.people dt span.image img.noimage {
  height: 76px;
}
dl.friends dt span.name,
dl.people dt span.name {
  display: none;
}
dl.friends dd p.toCanvas,
dl.people dd p.toCanvas {
  text-align: right;
}
dl.friends dd p.toCanvas a,
dl.people dd p.toCanvas a {
  padding-right: 15px;
  background: url(http://listenin-now.konk303.com/images/app/ext-link.png) right center no-repeat;
}
